main {
    font-family: 'Roboto', sans-serif;
    color: #09283c;
    background: #f9f9fa;
    text-align: center;
    padding: 2rem;

    p {
        margin: 0;
    }
}

@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
}