main {
    margin-top: 60px;

    .banner {
        height: 60vh;
        width: 100%;
        background: #198922;
        display: grid;
        justify-content: center;

        .banner-content {
            padding: 20px;
            text-align: center;
            color: #000;
            margin: auto;
        }
    }
}