main {
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;

    h1,
    h2,
    h3 {
        font-family: 'Cinzel', serif;
    }

    .about-banner {
        background: url('../../assets/images/banner.png') center/cover no-repeat, linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        height: 60vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .overlay {
            padding: 2rem 3rem;
            border-radius: 12px;
            text-align: center;
            color: #fff;
            margin: auto;

            h1 {
                font-size: 50px;
                margin-bottom: 0.5rem;
            }

            p {
                font-size: 20px;
                letter-spacing: 0.5px;
                color: #e0e0e0;
            }
        }
    }

    .about-content {
        padding: 4rem 1rem;
        max-width: 900px;
        margin: 0 auto;
        line-height: 1.6;

        h2 {
            text-align: center;
            font-size: 40px;
            margin-bottom: 1rem;
            font-weight: 600;
            color: #09283c;
        }

        h3 {
            margin-top: 3rem;
            font-size: 30px;
            color: #09283c;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            color: #09283c;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin: 0.5rem 0;
                position: relative;
                padding-left: 1.5rem;
                color: #09283c;

                &::before {
                    content: '•';
                    color: #00a884;
                    font-size: 1.5rem;
                    position: absolute;
                    left: 0;
                    top: -2px;
                }
            }
        }

        .why-choose {
            li {
                &::before {
                    content: '✔';
                    color: #00a884;
                    font-weight: bold;
                }
            }
        }
    }

}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        margin-top: 70px;

        .about-banner {
            height: 45vh;

            .overlay {
                padding: 1.5rem;

                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 1rem;
                }
            }
        }

        .about-content {
            padding: 2rem 1rem;

            h2 {
                font-size: 30px;
            } 
            
            h3, p {
                text-align: center;
            }
        }
    }
}