main {
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;

    h1,
    h2,
    h3 {
        font-family: 'Cinzel', serif;
    }

    .slider-container {
        position: relative;
        width: 100%;
        overflow: hidden;

        .slider {
            display: flex;
            transition: transform 1s ease;

            .slide {
                width: 100%;
                flex-shrink: 0;
                box-sizing: border-box; // important!
                padding: 50px;
                min-width: 100%;
                background-size: cover;
                background-position: bottom;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                height: 90vh;

                .content {
                    padding: 50px;
                    background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%);

                    h1 {
                        font-size: 50px;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 20px;
                        margin: auto;
                        margin-bottom: 30px;
                        max-width: 600px;
                    }

                    button {
                        position: relative;
                        overflow: hidden;
                        color: #09283c;
                        background: #f9f9fa;
                        border: none;
                        padding: 10px 25px;
                        font-size: 20px;
                        cursor: pointer;
                        border-radius: 8px;
                        z-index: 1;
                        transition: color 0.4s ease;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 0%;
                            height: 100%;
                            background: linear-gradient(135deg, #007cba, #09283c, #54a32f);
                            transition: width 0.4s ease;
                            z-index: -1;
                        }

                        &:hover::before {
                            width: 100%;
                        }

                        &:hover {
                            color: #ffffff;
                        }
                    }

                }
            }
        }

        .slider-nav {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            transform: translateY(-50%);

            .prev,
            .next {
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                border: none;
                padding: 15px;
                cursor: pointer;
                font-size: 2rem;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        margin-top: 70px;

        .slider-container {
            .slider {
                .slide {
                    height: 70vh;
                    padding: 20px;

                    .content {
                        padding: 20px 0;

                        h1 {
                            font-size: 30px;
                        }

                        p {
                            font-size: 16px;
                        }

                        button {
                            font-size: 16px;
                            padding: 8px 20px;
                        }
                    }
                }
            }

            .slider-nav {

                .prev,
                .next {
                    padding: 5px;
                    font-size: 1.2rem;
                }
            }
        }
    }
}