main {
    margin-top: 60px;

    .banner {
        height: 60vh;
        width: 100%;
        background: #198922;
        display: grid;
        justify-content: center;

        .banner-content {
            padding: 20px;
            text-align: center;
            color: #000;
            margin: auto;

            button {
                padding: 10px 25px;
                border-radius: 8px;
                width: fit-content;
                margin: auto;
                border: none;
                background-color: #fff;
                color: #000;
                transition: all 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }
    }
}